
<header class="first">
  <h1 class="titulo-one">GUINOTE</h1>
  <h3>Venha descobrir o poder da sua nova ferramenta de criação de documentos super versatil</h3>
  
</header> 

	<p><img src="maquina.png"></p>

<header class="second">
  <h2>O Guinote é uma ferramenta online para você criar seus documentos.<br>
  Ela vai lhe proporcionar um ambiente super fácil e bem elaborado de como criar seus documentos.</h2>

  <h3><%= link_to "Eai, bora começar?", new_user_registration_path %></h3>
</header>  
<br><br><br>

<%= render "footer"%>


