<div class="container">
<header class="sobre">
	<h1>Sobre mim</h1>

	<h2>Nome: Guilherme Parente</h2>

	<h3>email: guilherme.parente17@outlook.com</h3>

	<h3>Whatsapp: <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5588992742270">55 88 99274-2270 </a></h3>
</header>
<br><br>
<header class="sobre-dois">
	<h1>Meus Projetos</h1>

	<h2>GitHub<a href="https://github.com/guilhermeparente17" target="_blank"> :https://github.com/guilhermeparente17</a></h2>

	<h2>Linkedin : <a href="https://www.linkedin.com/in/guilherme-parente-758015150/" target="_blank">https://www.linkedin.com/in/guilherme-parente-758015150/</a></h2>
</header>
<br><br><br><br>

</div>
<%= render "footer"%>